    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>What I Do</h2>
                <p>I'm a versatile tattooist and enjoy working in colour as well as black and grey. Each piece I tattoo is customised and personal to you. I never tattoo the same piece twice.</p>
                <p>My studio is located just a short walk from Deansgate Castlefield Metrolink and is a private space suitable for those who prefer to get tattooed in a discrete, relaxed environment.</p>
                <p>Whether it's a new piece, an addition to your existing tattoos or a cover up. Feel free to contact me with your ideas.</p>
                <p>I also create artwork for prints and commissioned, one off pieces in a range of mediums.</p>
            </div>
        </div>
    </section>
