    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
               <div class="col-lg-8 col-lg-offset-2">
                  <script type="text/javascript">
                      var userFeed = new Instafeed({
                          get: 'user',
                          userId: '3045889',
                          accessToken: '3045889.1677ed0.c70a9c5177814762b20ca2fdd596c23d'
                      });
                      userFeed.run();
                   </script>
                </div>
            </div>
        </div>
    </section>
