    <!-- FAQ Section -->
    <section id="faq" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>FAQ</h2>
              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading" onClick="ga('send', 'event', 'Interaction Points', 'Click', 'FAQ: 18 years old');">
                    <h7 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                      I'm not 18, can I get a tattoo?</a>
                    </h7>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">The <a href="http://www.legislation.gov.uk/ukpga/1969/24" target="_blank">
                    Tattooing Of Minors Act 1969</a> makes clear that it
                    is a criminal offence to tattoo anyone under the age of 18
                    in the UK. Valid ID (must belong to the person getting
                    tattooed) is required.</div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" onClick="ga('send', 'event', 'Interaction Points', 'Click', 'FAQ: Latex gloves');">
                    <h7 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                      Do you use latex gloves?</a>
                    </h7>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">No. I use commercial grade powder free black nitrile
                    gloves which are latex free.</div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" onClick="ga('send', 'event', 'Interaction Points', 'Click', 'FAQ: Health conditions');">
                    <h7 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                      Are there any health conditions that restrict me from being tattooed?</a>
                    </h7>
                  </div>
                  <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                      <dl>
                        <dt>You can not get tattooed if you</dt>
                        <dd>are pregnant or breastfeeding, suffer from seizures
                        or have any conditions which impair your immune system.</dd><br />
                        <dt>You should consult your doctor and provide a doctors note if you</dt>
                        <dd>suffer from diabetes, haemophilia, a heart condition or take any blood thinning medication.</dd><br />
                        <dt>You are obliged to inform me if you</dt>
                        <dd>have any bloodborne infection or virus. Due to the increased personal risk
                        the decision to proceed will be at my discretion.</dd>
                      </dl>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" onClick="ga('send', 'event', 'Interaction Points', 'Click', 'FAQ: License');">
                    <h7 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                      Do you have a License?</a>
                    </h7>
                  </div>
                  <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">Yes. It is a legal requirement that all premises and individuals
                    providing tattooist services are regularly inspected and licensed with their local authoritiy.
                    You can find out more <a href="http://www.manchester.gov.uk/directory_record/72624/tattooing_acupuncture_ear_andamp_cosmetic_piercing_electrolysis_andamp_skin_colouring_personal_and_premise_registration" target="_blank">here.</a></div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" onClick="ga('send', 'event', 'Interaction Points', 'Click', 'FAQ: Vegan inks');">
                    <h7 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                      Is the ink you use vegan safe?</a>
                    </h7>
                  </div>
                  <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">Yes. I use 3 brands of ink (<a href="https://www.eternalinks.co.uk/questions" target="_blank">Eternal Inks</a>,
                      <a href="http://www.fusiontattooink.com/aboutus.asp" target="_blank">Fusion Inks</a> and <a href="https://www.worldfamoustattooink.com/vegan-tattoo-ink/" target="_blank">World Famous Inks</a>) all of which are Vegan safe and animal cruelty free.</div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" onClick="ga('send', 'event', 'Interaction Points', 'Click', 'FAQ: UV inks');">
                    <h7 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                      Do you offer UV or white ink tattoos?</a>
                    </h7>
                  </div>
                  <div id="collapse6" class="panel-collapse collapse">
                    <div class="panel-body">
                      No. I currently do not offer UV or white tattoos.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" onClick="ga('send', 'event', 'Interaction Points', 'Click', 'FAQ: Preparation');">
                    <h7 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                      How do I prepare for my tattoo?</a>
                    </h7>
                  </div>
                  <div id="collapse7" class="panel-collapse collapse">
                    <div class="panel-body">
                      Make sure you eat something at least 2 hours before your appointment and bring a snack if your booking is more than a few hours long.
                      <br />  <br />
                      Drink plenty of fluids before, during and after your tattoo but avoid alcohol for at least 24 hours before your appointment. I won't be able to tattoo you if you're drunk (or on drugs).
                      <br />  <br />
                      It's important that you don't take aspirin based pain relief products near to or after the time you get your tattoo. Aspirin thins
                      your blood so you might bleed more than usual making it difficult to tattoo you.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" onClick="ga('send', 'event', 'Interaction Points', 'Click', 'FAQ: Guests');">
                    <h7 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
                      Can I bring someone with me?</a>
                    </h7>
                  </div>
                  <div id="collapse8" class="panel-collapse collapse">
                    <div class="panel-body">
                      Yes, you can bring <strong>one</strong> guest with you.
                      I ask that your guest respects my studio and the space as this is my working environment.
                      I am unable to accommodate more than one guest or <strong>any</strong> children.
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>
