    <!-- Shop Section -->
    <section id="shop" class="content-section text-center">
        <h2>Online Shop</h2>
        <p>I sell a range of artwork prints and original drawings and paintings.</p>
        <p>If you've seen any of my artwork or designs that aren't on my online shop, use the form below to get in touch and ask about getting a print or the original piece.</p>
        <div id="my-store-27384144"></div>
        <div>
           <script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?27384144&data_platform=code&data_date=2020-08-31" charset="utf-8"></script>
           <script type="text/javascript"> xProductBrowser("categoriesPerRow=3","views=grid(20,3) list(60) table(60)","categoryView=grid","searchView=list","id=my-store-27384144");</script>
        </div>
    </section>
