    <!-- Store Section -->
    <section id="store" class="content-section text-center">
        <div class="store-section">
            <div class="container-fluid">
               <div class="col-md-12">
                  <script type="text/javascript">
                  <!--
                     s6_user = "samanthabeedie";
                     s6_format = "300x250";
                  //-->
                  </script>
                  <script type="text/javascript" src="https://society6.com/js/show_banner.js" async="true">
                  </script>
               </div>
            </div>
        </div>
    </section>
