    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">{{ site.title }}</h1>
                        <p class="intro-text">Thanks! Your enquiry has been sent. I'll get back to you.<br />
                           (as soon as I can)<br/><br/>
                        <a href="{{ site.url }}" class="btn btn-default btn-lg">
                            <i class="fa fa-home fa-3" onClick="ga('send', 'event', 'Interaction Points', 'Click', 'Thanks Button');"></i> <span class="network-name">Go back</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
